* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 13pt;
    padding: 0px;
    margin: 0px;
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

h1 {
    font-style: italic;
    margin-bottom: 1em;
    font-size: 16pt;
    text-align: center;
}

h1 a {
    color: black;
    text-decoration: none;
}

h1 a:hover {
    color: #3399ff;
}

a {
    color: black;
}

body {
    background-color: #f2f2f2;
    padding-top: 0px;
    margin-top: 0px;
    height:100%;
}

p {
    margin-bottom: .8em;
}

#pane {
    z-index:-1;
    overflow:hidden;
    min-width: 18em;
    width: 30%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    top:0;
    bottom:0;
    padding: 1em;
}

.responsive-image {
    width: 90%;
    height: auto;
}

fieldset {
    border: 0;
    padding-top: .3em;
}

form label {
    text-align: justify;
}

form label:hover {
    color: #3399ff;
    cursor: pointer;
}

.button {
    background-color: #e2e2e2;
    margin-bottom: .8em;
    margin-top: .8em;
    padding: .2em;
    display: block;
    width: 100%;
    border: none;
    width: 100%;
    font-style: italic;
}

.button:hover {
    box-shadow: lightslategrey 2px 2px;
    background-color: #b3d9ff;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

footer {
    margin-top: 1.5em;
    padding-top: .5em;
    border-top: lightslategrey 1px solid;
}

footer nav ul li a{
    font-weight: normal;
}

footer nav ul li a:hover{
    color: #3399ff;
}

table td {
    vertical-align: text-bottom;
    padding-right: 1em;
}